* {
  font-family: Roboto, sans-serif;
}

.App {
  position: relative;
  display: flex;
  width: 100vw;
}

.navbar {
  position: fixed;
}

.sidebar {
  background-color: #303036;
  position: fixed;
}
